---
import { name, ig, midudev, creator, repository } from '../data';
import { projects } from '../data/projects';
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
import Card from '../components/Card.astro';
---

<Layout>
	<header class="flex flex-col items-center justify-center gap-0 xl:gap-3">
		<h1>&nbsp;{name}&nbsp;</h1>
		<p class="sm:max-w-[40ch] text-balance md:text-pretty text-center text-base text-stone-400">Resolución de la iniciativa de <Link title={midudev.title} url={midudev.url} />: <Link title={creator.title} url={creator.url} />, desarrollados con JavaScript puro, HTML, CSS y Tailwind CSS en esta versión.</p>
	</header>

	<menu class="mt-16 flex items-center justify-between gap-3 font-mono text-xs uppercase">
		<span class="text-stone-400">{projects.length}/100</span>
		<nav class="ms-auto flex items-center justify-center gap-6">
			<Link title={`${repository.label!} ↗`} url={repository.url} />
    		<Link title={`${ig.title} ↗`} url={ig.url} />
		</nav>
	</menu>

	<section class="mt-4 xl:mt-5 grid md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8">
		{projects.map((item, index) => (
			<Card id={index + 1} title={item.title} url={item.url} description={item.description} 
				created={item.created} image={item.image} tags={item.tags} />
		))}
	</section>
</Layout>