---
import { name, dev, midudev, creator, repository } from '../data';
import { projects } from '../data/projects';
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
import Card from '../components/Card.astro';
---

<Layout>
	<header class="flex flex-col items-center justify-center gap-5">
		<h1 class="font-bold tracking-tighter text-center text-[4rem] xl:text-7xl 2xl:text-8xl text-transparent bg-clip-text bg-gradient-to-b from-amber-300 to-amber-950/30 select-none">&nbsp;{name}&nbsp;</h1>
		<p class="md:max-w-[45ch] text-pretty text-center text-base text-stone-400">Resolución de la iniciativa de <Link title={midudev.title} url={midudev.url} />: <Link title={creator.title} url={creator.url} />, desarrollados con JavaScript puro, HTML & CSS, y Tailwind CSS en esta versión.</p>
		<nav class="flex items-center justify-center gap-5 text-sm select-none">
			<a href={repository.url} target="_blank" class="font-mono text-amber-300 transition duration-200 hover:text-amber-600">{repository.title}</a>
			<a href={dev.url} target="_blank" class="font-mono inline-flex animate-bg-shine bg-[linear-gradient(110deg,#33ffa3,45%,#1c1c1c,55%,#33ffa3)] bg-[length:250%_100%] bg-clip-text text-transparent transition duration-200 hover:opacity-50">{dev.title}</a>
		</nav>
	</header>

	<section class="mt-16 grid md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8">
		{projects.map((item, index) => (
			<Card id={index + 1} title={item.title} url={item.url} description={item.description} 
				created={item.created} image={item.image} tags={item.tags} />
		))}
	</section>
</Layout>