---
import '../styles/global.css';
import { title, preview, description, site } from '../data';
import Footer from './Footer.astro';

interface Props {
	page?: string
}

const { page = title } = Astro.props as Props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<title>{page}</title>
	<meta name="title" content={page} />
	<meta name="description" content={description} />
	<meta property="og:type" content="website" />
	<meta property="og:url" content={site.url} />
	<meta property="og:title" content={page} />
	<meta property="og:description" content={description} />
	<meta property="og:image" content={preview} />
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:url" content={site.url} />
	<meta property="twitter:title" content={page} />
	<meta property="twitter:description" content={description} />
	<meta property="twitter:image" content={preview} />
</head>
<body class="w-full min-h-dvh relative p-6 pt-16 sm:px-9 md:px-12 lg:px-14 lg:pt-20 xl:px-30 xl:pt-24 2xl:px-50 text-stone-200 bg-[#0c0900] selection:text-white selection:bg-amber-300/30">
	<div class="-z-30 absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_130px,#2a1a00,transparent)]"></div>
	<slot />
	<Footer />
</body>
</html>